.item {
  width: 200px;
  height: 300px;
  border: 2px solid gray;
  margin: 10px 0;
  box-shadow: 2px 2px 1px blue;
  text-decoration: none;
}
.item :hover {
  background-color: red;
  opacity: 0.8;
}

.itemImage {
  aspect-ratio: 1;
  width: 100%;
}
