header {
  background-color: gray;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  flex-direction: row;
  gap: 14px;
}
